DATABASE_URL=postgres://postgres.xwaaedxcebzucapumzsm:oapass20302068@aws-0-us-west-1.pooler.supabase.com:5432/postgres
SUPABASE_URL=https://xwaaedxcebzucapumzsm.supabase.co
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inh3YWFlZHhjZWJ6dWNhcHVtenNtIiwicm9sZSI6ImFub24iLCJpYXQiOjE3MTIxMDU1MTAsImV4cCI6MjAyNzY4MTUxMH0.Wuc0v_qU6yyW8ayJeWApJ0om9w9hvxgQJshMFPxnPjs
DIRECT_URL=postgres://postgres.xwaaedxcebzucapumzsm:oapass20302068@aws-0-us-west-1.pooler.supabase.com:5432/postgres